{% extends 'base.html' %}

{% block content %}
<header class="bg-dark py-5">
    <div class="container px-4 px-lg-5 my-5">
        <div class="text-center text-white">
            <h1 class="display-4 fw-bolder">About Our Shop</h1>
            <p class="lead fw-normal text-white-50 mb-0">Wecome to the best store in the world! Happy surfing!</p>
        </div>
    </div>
</header>

<div class="container">
    <div class="row">
        <center>
            <div class="col-8">
                <p align="justify">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam vel nisi eu magna tincidunt vestibulum eu a risus. Nulla vitae mi nulla. Maecenas et ante sed tellus consectetur blandit. Aenean blandit interdum ultrices. Vestibulum dictum dolor quam, consequat gravida arcu rhoncus dapibus. Aenean eget mi sed ante imperdiet luctus eget id metus. Curabitur ac sollicitudin risus. Fusce ac justo at elit vestibulum fermentum a sit amet lorem. Maecenas congue metus non erat hendrerit, non varius elit blandit. Integer ac lacinia leo. Aenean porta neque at tincidunt euismod. Vestibulum lacus ex, elementum non placerat ut, vestibulum ut tellus. Fusce molestie tincidunt tortor, eu bibendum urna fringilla in. Fusce pharetra nunc id quam feugiat, ut posuere augue maximus. Donec pretium nunc ac nunc pellentesque sagittis. Etiam nisi velit, blandit id ultrices in, iaculis quis ex.

Suspendisse et neque ipsum. Cras non tincidunt quam. Proin luctus erat mauris, sit amet scelerisque nisi hendrerit quis. Quisque fringilla feugiat erat quis sollicitudin. Vestibulum consectetur pharetra libero, eget aliquam tortor. Donec non sem mollis, dignissim nisi a, gravida est. Sed in augue sit amet felis imperdiet eleifend ac vel est. Donec tempus diam ut turpis tincidunt feugiat. Vestibulum vitae justo vel magna tempor vehicula. Nulla tempus placerat placerat.

Interdum et malesuada fames ac ante ipsum primis in faucibus. Nullam feugiat eleifend bibendum. Vivamus nec lorem non nulla placerat sagittis. Donec condimentum mi a fringilla tristique. Integer varius mauris in odio viverra, at suscipit dui fringilla. Pellentesque ac auctor nunc, sed venenatis ex. Cras id porta elit. Mauris in odio semper, posuere quam quis, vehicula justo. Aenean euismod ex elit, sed rhoncus quam imperdiet in.

Etiam eget iaculis lectus, id laoreet ante. Proin nisl nunc, euismod id ex at, placerat faucibus justo. Praesent sit amet enim finibus, faucibus nisl sit amet, accumsan tortor. Quisque augue ex, imperdiet et tristique malesuada, viverra vel quam. Cras elementum mattis ornare. Vivamus tempus tincidunt arcu, nec dapibus lorem convallis sed. Donec pellentesque ex a augue dictum venenatis. Nulla in velit in libero iaculis tempor id in est. Quisque tempor est eget erat facilisis consectetur. Nulla convallis ante vel libero finibus consectetur. Phasellus vitae leo mi.

Aliquam erat volutpat. Vestibulum ante orci, feugiat eu neque et, lacinia volutpat tellus. Integer vitae tincidunt metus, eu malesuada lorem. Nulla et pellentesque eros. Aenean porta erat in massa sollicitudin, in scelerisque nibh tempor. Curabitur in sapien eget sapien hendrerit porta finibus nec diam. Mauris ultrices ex non elit aliquet, et maximus urna egestas. Curabitur felis risus, mollis vitae est quis, porta placerat eros. Ut rhoncus leo sit amet erat vehicula sodales. Cras id convallis dolor. Praesent mollis leo vitae diam elementum maximus at eget nibh. Etiam dignissim eu lacus non dignissim. Etiam finibus mi neque, et efficitur purus tincidunt et.
                </p>
            </div>
        </center>
    </div>
</div>

{% endblock %}